
.product-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
}


.product-image img{
    width: 500px;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.images-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.images-column img{
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.images-column img:hover {
    border: 2px solid black;
}

.images-column img.active{
    border: 2px solid black;
}

.product-info{
    max-width: 400px;
}

.sizes{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.size-option{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid black;
    cursor: pointer;
}

.size-option:hover{
    background: #eaeaea;
}

.size-option.selected{
    background: black;
    color: white;
}


.add-to-cart{
    display: inline-block;
    background: linear-gradient(120deg, rgb(34, 72, 104), rgb(163, 179, 233));
    font-weight: 500;
    color: white;
    border-radius: 40px;
    padding: 8px 14px;
    margin-top: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    margin-bottom: 10px;
    font-family: "Lora", serif;
}


.add-to-cart:hover{
    background: linear-gradient(120deg, rgb(49, 109, 159), rgb(163, 179, 233));

}

#product-name{
    font-family: "Luxurious Roman", serif;
    font-size: 25px;
    font-weight: 600;
}

#product-price{
    font-family: "Lora", serif;
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
}

.product-info{
    font-family: "Luxurious Roman", serif;
}

#product-rating {
    font-size: x-large;
}

.rating-star:hover {
    color:rgb(49, 109, 159);
    cursor: pointer;
}


