
a, .product, .filters, .filter-options div {
    transition: all 0.25s ease;
}

.products-title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: 20px;
    font-family: "Pinyon Script", serif;

}

.filter{
    text-align: center;
    margin-bottom: 20px;
}

.columns{
    align-items: flex-start !important;
}

.products-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 10px;
}


.product{
    background: white;
    border: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}


.product h5 {
    font-family: "Luxurious Roman", serif;
    font-size: 18px;

}

.product p {
    font-family: "Lora", serif;
}


.product:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.40);
}


.product img{
    width: 100%;
    border-radius: 10px;
}


.product h3{
    margin: 10px 0;
}



.price{
    font-weight: bold;
}


.filter-container{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
}

.filters{
    position: sticky;
    top: 10px;
    width: 200px;
    min-width: 200px;
    background: #fff7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}




.filter-group{
    margin-bottom: 15px;
}


.filter-title{
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid #d0cece;
    
}



.filter-options{
    padding-left: 10px;
}



.filter-options div{
    cursor: pointer;
    padding: 4px 0;
    font-weight: normal;

}


.filter-options div.active{
    font-weight: bold;
}



.search-bar {
    width: 100%;
}